.notify {
  position: fixed;
  top: 48px;
  left: 0;
  z-index: 1005;
  left: 50%;
  transform: translateX(-50%);
  .flash {
    width: fit-content;
    min-width: 100px;
    max-width: 775px;
    margin: 0 auto;
    text-align: center;
    padding: 0.2rem 1rem;
    background: #333;
    border-radius: 20px;
    color: white;
    opacity: 0.7;
    transition: opacity 0.2s ease;
    &:first-letter {
      text-transform: uppercase;
    }
    &:empty {
      display: none;
    }
  }
}