.list {
  .top {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    .title {
      flex-grow: 1;
      h1, h2, h3, h4, h5, h6 {
        margin-top: 0;
        display: inline;
      }
      .toggler {
        margin-left: 1rem;
        img {
          height: 20px;
        }
      }
    }
  }
  .items {
    ul {
      padding: 0;
      li {
        display: flex;
        min-width: 0;
        .item {
          flex-grow: 1;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          padding-right: 0.5rem;
        }
        .controls {
          white-space: nowrap;
        }
      }
    }
  }
  .search {
    display: none;
    margin-bottom: 1rem;
  }
  .search.open {
    display: block;
  }
  .paginate {
    text-align: center;
    padding: 1rem 0;
  }
}